.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafdff;
  color: #08192c;
}

/* navbar */

.navbar-brand{
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #08192c;
  margin-left: 20px;
}

#offcanvasNavbarLabel {
  font-family: "Cinzel", serif;
  font-size: 30px;
}


.loginBtn {
  background-color: transparent;
  color: #6d757d;
  border: #ffd8c2  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s background-color;
}

.loginBtn:hover {
  background-color: #ffd8c2;
  color: #08192c;
}

.navbar-toggler{
  border: none;
  font-size: 18px;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-left: 10px;
}

.nav-link:hover, .nav-link.active {
  color: #08192c;
 }

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: rgba(254, 190, 152, 1);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 70%;
}

.product-title-container {
  width: 95%;
  height: 150px;
  margin: 20px;
}

/*Product filter*/
.filter-product-container {
  display: flex;
}

.second-section {
  width: 25%;
  height: auto;
  padding: 50px 0;
  background-color: aqua;
  position: fixed;
}



.product-title-topic {
  font-size: 14px;
  margin-left: 5px;
  color: #6d757d;
}

.product-title-topic .product-title-topic-link {
  color: #6d757d;
}

.product-title-inner #product-title {
  font-size: 60px;
  color: #08192c;
  margin-top: 10px;
  font-family: "Cinzel", serif
}

.full-width-line {
  width: 100%;
  height: 1px; 
  background-color: #d6d6d6;
  margin:  20px 0; /* Spacing above and below the line */
}

#filterForm {
  /* width: 95%; */
  height: 150px;
  margin: 20px;
}

.form-group {
  font-size: 18px;
  margin: 20px 0;
}

.form-group label {
  font-weight: 500;
  margin-right: 10px;
}

.form-group select {
  border: none;
  border-bottom: 1px solid #ffd8c2;
  border-radius: 0;
  background-color: transparent;
  color: #6d757d;
  font-size: 18px;
  padding: 5px 10px;
  transition: 1s border-color;
}

.form-group select:focus {
  border-color: #ffd8c2;
}

.sort-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

.sort-container .btn {
  background-color: transparent;
  color: #6d757d;
  border: #ffd8c2  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s background-color;
  margin-top: 15px;
  margin-right: 10px;
}

.sort-container .btn:hover {
  background-color: #ffd8c2;
  color: #08192c;
}

/*product card*/
#third-section {
  height: auto;
  padding-bottom: 10%;
}

img{
  max-width: 100%;
}

.gallery{
  background-color: rgb(255, 255, 255);
  /* padding: 0px 10%; */
  margin-top: 30px;
}
  
.gallery img{
  background-color: rgb(251, 236, 228);
  padding: 15px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  cursor: pointer;
  border-radius: 5px;
}

#gallery-modal .modal-img{
  width: 100%;
}


.quantity {
  border: 1px solid black;
  border-radius: 3px;
  margin: 1px;
  padding: 1px;
}

.quantity-green {
  background-color: #6cc971;
  color: white;
  border: transparent;
  border-radius: 3px;
  margin: 5px;
  padding: 0 5px;
}


.quantity-red {
  background-color: #ff6c6c;
  color: white;
  border: transparent;
  border-radius: 3px;
  margin: 5px;
  padding: 0 5px;

}

.quantity-gray {
  background-color: #a6a6a6;
  color: white;
  border: transparent;
  border-radius: 3px;
  margin: 5px;
  padding: 0 5px;

}

.producy-idDiv{
  font-size: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 4px;
}

.price {
  font-size: 16px
}

.card-body .btn {
  background-color: transparent;
  color: #6d757d;
  border: #ffd8c2 1px solid;
  border-radius: 50px;
  padding: 6px 16px;
  transition: 0.3s background-color;
  margin-top: 10px;
  font-size: 14px;
}

.card-body .btn:hover {
  background-color: #ffd8c2;
  color: #08192c;
}

/* newsletter */
#newsletter-constainer{
  background-color: rgb(251, 236, 228);
}

.newsletter-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.newsletter-icon .newsletter-icon {
  text-align: center;
}

.newsletter-title-text {
  position: relative;
  display: inline-block;

}

.newsletter-title .newsletter-text {
  text-align: center;
  color: #6c757d;
  size: 16px;
  max-width: 400px;
}

.newsletter-title .input-group {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-title .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 38px;
}

.newsletter-title .btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffd8c2;
  color: white;
  border-color: #ffd8c2;
}

.newsletter-title .btn:hover {
  background-color: rgba(254, 190, 152, 0.6);
  border-color: rgba(254, 190, 152, 0.6);
  color: #6d757d;
}

/*footer*/
.contact-us-box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #6c757d;
}

.follow-us-box{
  display: flex;
  justify-content: flex-start;
}

.fa-instagram{
  font-size: 30px;
}

.fa-facebook{
  font-size: 28px;
}