/* /* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #08192c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} */

/* .off-screem-menu {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
} 


.off-screem-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex ;
    background-color: #08192c;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: -3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
/* } */ 

/*  */
/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #08192c;
    color: aliceblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
 }
 .form-inline{
    width:330px ;
    height:76px ;
 }
 .form-control{
    width: 200px;
    height: 30px;

 }
 .submitbtn{
    width: 70px;
    height: 30px;
 }

 img{
	max-width: 100%;
}

.gallery{
	background-color: #08192c;
	padding: 0px 10%;
}

.gallery img{
	background-color: #d9f1f6;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

#gallery-modal .modal-img{
	width: 100%;
}