.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fafdff;
    color: #08192c;
}

/* navbar */

.navbar-brand {
    font-family: "Cinzel", serif;
    font-size: 30px;
    color: #08192c;
    margin-left: 20px;
}

#offcanvasNavbarLabel {
    font-family: "Cinzel", serif;
    font-size: 30px;
}

.loginBtn {
    background-color: rgba(254, 190, 152, 1);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.3s background-color;
}

.loginBtn:hover {
    background-color: rgba(254, 190, 152, 0.6);
}

.navbar-toggler {
    border: none;
    font-size: 18px;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin-left: 10px;
}

.nav-link:hover,
.nav-link.active {
    color: #08192c;
}


.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: rgba(254, 190, 152, 1);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
    visibility: visible;
    width: 70%;
}

/*product details*/

#productDetails {
    margin-left: 2%;
    margin-right: 2%;
    /* height: ;
    width: auto; */
    margin: 80px 0 ;
}

.product {
    display: flex;
    flex-direction: column;
}

.firstSection {
    display: flex;
    flex-direction: row;
}

.description {
    margin-top: 10%;
    color: #6d757d;
}

.productBtn {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.productId {
    font-size: small;
}
.priceFont {
    font-size: 40px;
}

.pickUp {
    border: 1px solid #ffd8c2;
    /* display: block; */
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    margin-right: 40px;
}

.pickUpLocation {
    margin-bottom: 10%;
}

.addToCart .btn {
    background-color: transparent;
    color: #000000;
    border: #ffd8c2 1px solid;
    border-radius: 50px;
    padding: 10px 26px;
    transition: 0.3s background-color;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .addToCart .btn:hover {
    background-color: #ffd8c2;
    color: #08192c;
  }

/* newsletter */
#newsletter-constainer {
    background-color: rgb(251, 236, 228);
}


.newsletter-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.newsletter-icon .newsletter-icon {
    text-align: center;
}

.newsletter-title-text {
    position: relative;
    display: inline-block;

}

.newsletter-title .newsletter-text {
    text-align: center;
    color: #6c757d;
    size: 16px;
    max-width: 400px;
}

.newsletter-title .input-group {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-title .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 38px;
}

.newsletter-title .btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(254, 190, 152, 1);
    color: white;
    border-color: rgba(254, 190, 152, 1);
}

.newsletter-title .btn:hover {
    background-color: rgba(254, 190, 152, 0.6);
    border-color: rgba(254, 190, 152, 0.6);
}

/*footer*/
.contact-us-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #6c757d;
}

.follow-us-box {
    display: flex;
    justify-content: flex-start;
}

.fa-lg {
    font-size: 30px;
}

