.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafdff;
  color: #08192c;
}

/*login container*/
.container {
  width: 500px;
  height: 1000px;
  border-width: 5px;
  border-style: groove;
  line-height: 1.9;
  background-position: center center;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  width: 455px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 3px solid;
}

.title1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#register-form {
  width: 400px;

  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

#register-form .btn {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login {
  background-color: #007bff;
  color: #fff;
}

.btn-login:hover {
  background-color: #0056b3;
}

.btn-register {
  background-color: #28a745;
  color: #fff;
}

.btn-register:hover {
  background-color: #218838;
}

.button2 {
  text-align: center;
  margin-top: 20px;
}

/* navbar */

.navbar-brand {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #08192c;
  margin-left: 20px;
}

#offcanvasNavbarLabel {
  font-family: "Cinzel", serif;
  font-size: 30px;
}

.loginBtn {
  background-color: transparent;
  color: #6d757d;
  border: #ffd8c2 1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s background-color;
}

.loginBtn:hover {
  background-color: #ffd8c2;
  color: #08192c;
}

.navbar-toggler {
  border: none;
  font-size: 18px;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-left: 10px;
}

.nav-link:hover,
.nav-link.active {
  color: #08192c;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: rgba(254, 190, 152, 1);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 70%;
}

/* newsletter */
#newsletter-constainer {
  background-color: rgb(251, 236, 228);
}

.newsletter-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.newsletter-icon .newsletter-icon {
  text-align: center;
}

.newsletter-title-text {
  position: relative;
  display: inline-block;
}

.newsletter-title .newsletter-text {
  text-align: center;
  color: #6c757d;
  size: 16px;
  max-width: 400px;
}

.newsletter-title .input-group {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-title .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 38px;
}

.newsletter-title .btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffd8c2;
  color: white;
  border-color: #ffd8c2;
}

.newsletter-title .btn:hover {
  background-color: rgba(254, 190, 152, 0.6);
  border-color: rgba(254, 190, 152, 0.6);
  color: #6d757d;
}

/*footer*/
.contact-us-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #6c757d;
}

.follow-us-box {
  display: flex;
  justify-content: flex-start;
}

.fa-instagram {
  font-size: 30px;
}

.quantity {
  border: 1px solid black;
  border-radius: 3px;
  margin: 1px;
  padding: 1px;
}
.fa-facebook {
  font-size: 28px;
}
